.search {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.search-bar {
    flex: 1;
    padding: 5px 10px;
    margin: 5px;
    border: solid 2px;
    border-color: #625F5F;
    border-radius: 29px;
    background: linear-gradient(90deg, #FFF7AD, #FFA9F9);
    text-decoration-color: #625F5F;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-indent: 5px;
}

.search-bar::placeholder {
    text-decoration-color: #BFBFBF ;
}

.search-bar__icon {
    padding: 10px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #625F5F;
    right: 10px;
}

.search-bar__icon svg{
    width: 20px;
    height: 20px;
}
